.card .card-body p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* For small devices reduce button group size */
@media (max-width: 575px) {
    .btn {
        font-size: 0.5rem;
        padding: 0.55rem 1.13rem;
    }    
}
