.login-background {   
    position: absolute;
    overflow: auto;
    background-image:url('../../assets/images/house-mate.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container {
  height: 100%;
}