<!-- <div *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <h3>Social Login</h3>


    <button (click)="signInWithGoogle()" class="button btn-social btn-google">
      <i class="fa fa-google fa-lg"></i> Connect Google
    </button>

    <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook">
      <i class="fa fa-facebook fa-lg"></i> Connect Facebook
    </button>

    <hr>

    <h3>Anonymous Login</h3>

      <button (click)="signInAnonymously()" class="button button-info">
        <i class="fa fa-user-secret fa-lg"></i> Connect Anonymously
      </button>

    <hr> -->


     <!-- <user-form></user-form>  -->

<!-- </div> -->


<!-- <ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template> -->

<!-- <div class="form-container">
  <img src="assets/images/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  <button routerLink="/login-email" id="email">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div> -->

<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
  <div class="row justify-content-md-center">
    <div class="col-md-auto col-lg-8 col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><i class="fa fa-home fa-2x" aria-hidden="true" style="margin-right:5px;"></i>House Mate</h4>
          <p class="card-text">Making house sharing an enjoyable experience</p>
          <button (click)="signInWithFacebook()" class="btn btn-primary btn-lg" style="margin-top:4%;"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin-right:5px;"></i>Sign in with Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template>