<!-- <div *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <h3>Social Login</h3>


    <button (click)="signInWithGoogle()" class="button btn-social btn-google">
      <i class="fa fa-google fa-lg"></i> Connect Google
    </button>

    <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook">
      <i class="fa fa-facebook fa-lg"></i> Connect Facebook
    </button>

    <hr>

    <h3>Anonymous Login</h3>

      <button (click)="signInAnonymously()" class="button button-info">
        <i class="fa fa-user-secret fa-lg"></i> Connect Anonymously
      </button>

    <hr> -->


     <!-- <user-form></user-form>  -->

<!-- </div> -->


<!-- <ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template> -->

<!-- <div class="form-container">
  <img src="assets/images/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  <button routerLink="/login-email" id="email">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div> -->

<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
  <!-- <div class="form-signin text-center">
    <h2 class="form-signin-heading">Please sign in to continue</h2>
    <button (click)="signInWithFacebook()" class="btn btn-lg btn-primary" type="submit"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> Sign in with Facebook</button> -->

     <div class="row justify-content-md-center" style="margin-top:5%;">
      <div class="col col-lg-6">
        <div class="card text-center" style="height:15em">
          <div class="card-block">
            <h4 class="card-title"><i class="fa fa-home fa-2x" aria-hidden="true" style="margin-right:5px;"></i>House Mate</h4>
            <p class="h6">Making house sharing an enjoyable experience</p>
            <br>
            <br>
            <br>
            <button (click)="signInWithFacebook()" type="button" class="btn btn-primary btn-lg" style="width:80%;"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin-right:5px;"></i>Sign in with Facebook</button>
          </div>
        </div>
      </div>
    </div> 
</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template>