<!-- If user logged in show the navbar -->
<div *ngIf="auth.user | async as user">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"> <i class="fa fa-home fa-lg" aria-hidden="true"></i>House Mate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav" style="margin-right:5%">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{user.displayName}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Preferences</a>
            <a href="" (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> 
</div>

<div class="container">

  <router-outlet></router-outlet>

</div>