<div class="wrapper">
  <app-navigation></app-navigation>
  <div class="container">
    <!-- <div class="row justify-content-md-center justify-content-center">
      <div *ngFor="let user of users | async">
        <div *ngIf="user.uid != currentUserID" style="padding:20px">
          <div class="card">
            <div class="text-center">
              <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
              <h3 class="card-title">{{ user.displayName }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div *ngFor="let user of users">
        <div *ngIf="user.uid != currentUserID">
          <div class="col">
            <div class="card" style="width: 15rem;margin-bottom: 10%">
              <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
              <div class="card-body text-center">
                <h4 class="card-title">{{ user.displayName }}</h4>
                 <p style="font-weight:bold">{{ compareUserMatch(user.userPreferences) | percent }} Match</p> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<!-- <div class="row">

  <div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
</div> -->

    <!-- <div class="row justify-content-md-center justify-content-center">
      <div *ngFor="let user of users | async">
        <div *ngIf="user.uid != currentUserID" style="padding:20px">
          <div class="card">
            <div class="text-center">
              <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
              <h3 class="card-title">{{ user.displayName }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>