<div class="wrapper">
  <app-navigation></app-navigation>
  <div class="container">
    <div class="row">
      <div *ngFor="let user of users">
        <div *ngIf="user.uid != currentUserID">
          <div class="col">
            <div class="card" style="width: 15rem;margin-bottom: 10%">
              <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
              <div class="card-body text-center">
                <h4 class="card-title">{{ user.displayName }}</h4>
                <p style="font-weight:bold">{{ compareUserMatch(user.userPreferences) | percent }} Match</p> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>