<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <logo>
    <a class="navbar-brand" href="#">
      <i class="fa fa-home fa-lg" style="margin-right:5px;" aria-hidden="true"></i>HouseMate</a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
       
    </ul>
    <form class="form-inline waves-light" mdbRippleRadius>
      <ul *ngIf="loggedInUser" class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius href="/requests">{{messageCount}} <i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius href="/teams"><i class="fa fa-users" aria-hidden="true" style="margin-right:5px;"></i>Teams</a>
          </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            <i class="fa fa-user" aria-hidden="true"></i> {{loggedInUser.displayName}}
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius href="/preferences">
              <i class="fa fa-cog" aria-hidden="true" style="margin-right:5px;"></i>Preferences</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" (click)="logout()" mdbRippleRadius href="">
              <i class="fa fa-sign-out" aria-hidden="true" style="margin-right:5px;"></i>Log Out</a>
          </div>
        </li>
      </ul>
    </form>
    <!-- </div> -->
  </links>
</mdb-navbar>